@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");

:root {
  --lato: "Lato", sans-serif;
  --white: #f1eef5;
  --purple-main: #af459e;
  --violet: #F34096;
  --gray: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
  position: relative;
    margin: 0 auto;
    font-family: var(--lato);
    min-height: 100vh;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(51,30,49,1) 65%, rgba(103,52,92,1) 100%); 
    overflow-x: hidden;
}


/*------- header -------- */

.header {
  font-size: 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  margin: 0 10px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header__logo {
  width: 250px;
  height: auto;
}

/*------- header nav -------- */

.nav{
    width: 100%;
    display: flex;
    max-width: 350px;
    justify-content: center;
}
.nav__ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav__li a {
  font-weight: 600;
  color: var(--white);
  font-size: 1.8em;
  text-decoration: none;
}



/*------- hero -------- */

.hero {
  margin-top: 60px;
  width: 100%;
  height: auto;
  position: relative;
}
.hero img{
  width: 100%;
  object-fit: contain;
  opacity: .6;
}

.hero__article{
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
  color: var(--white);
  width: 100%;
  height: 450px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.hero__description{
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px 0 ;
}
.hero__rate{
  display: flex;
  gap: 5px;
  font-size: 1.2em;
  align-items: center;
}
.hero__title{
  font-size: 1.8em;
  text-align: center;
  
  
}
.hero__overview{
  font-size: 1.2em;
  text-align: center;
}
.hero__playTrailer{
  margin-top: 20px;
  font-size: 1.1em;
  display: flex;
  padding: 15px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--purple-main);
}
.hero__playTrailer img{
  width: 20px;
  opacity: 1;
}
.hero__rate img{
  width: 20px;
  opacity: 1;
  
}
.hero__span{
  background-color: var(--purple-main);
  border-radius: 10px;
  padding: 12px 20px;
}
.hero__span--gray{
  background-color: var(--gray);
}

/*------- main -------- */

.main{
    margin-top: 100px;
    padding: 10px;
    color: var(--white);
    font-size: 10px;
    
}

/*------- Sections trending, new, popular -------- */

.changeSection{
  margin-bottom: 100px;
}
.changeSection__nav{
  margin-bottom: 60px;
}
.changeSection__ul{
  display: flex;
  list-style: none;
  gap: 12px;
  justify-content: center;
}
.changeSection__li{
  padding: 8px 15px;
  cursor: pointer;
  font-weight: 600;
  font-size: 2em;
  border-radius: 15px;
  transition: all .5s;
}
.changeSection__li.active{
  background-color: var(--purple-main);

}


.currentSection{
  height: 600px;
}

.currentSection__container{
  position: relative;
  left: -10000px;
  transition: all 1s;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: all .5s;
}
.currentSection__container.active{
  left: 0;
}
.moviesContainer{
  overflow: hidden;

}


.rightRowContainer,.leftRowContainer{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  z-index: 100;
  border-radius: 50%;
  border: none;
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
}
.rightRow,.leftRow{
  width: 90%;
  height: 90%;
}
.rightRowContainer{
right: -12px;
}
.leftRowContainer{
  left: -12px;
}





/*-------  movies card-------- */

.movieCard{
  margin: 10px 5px;
  max-width: 220px;
  max-height: 400px;
  height: 50%;
  width: 46%;
  transition: opacity .5s, transform .2s;
  opacity: 0;
  transform: scale(.6);
}
.movieCard.show{
  opacity: 1;
  transform: scale(1);

}
.movieCard:hover{
  transform: scale(1.1);
}
.movieImg{
  cursor: pointer;
  min-height: 250px;
  width: 100%;
  height: 70%;
  border-radius: 20px;
  object-fit: cover;
}
.movieTitle{
  margin-top: 25px;
  font-size: 1.7em;
  text-align: center;
}



/*------- section explore -------- */

.explore{
  margin-top: 100px;
}

.explore__title{
  font-size: 2.8em;
  padding: 10px 0;
  position: relative;
  margin:0 0 15px;
}

.explore__optionSearch{
  display: flex;
  font-size: 1.5em;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.explore__optionSearch input{
  border: none;
  border-radius: 10px;
  color: var(--gray);
  height: 30px;
  outline: none;
  padding-left: 10px;
  font-weight: 600;
  font-family: var(--lato);
}
.searchIcon {
  width: 25px;
  height: auto;
  cursor: pointer;
  margin-left: 5px;

}

.explore__container{
  margin-top: 40px;
  position: relative;
}
.explore__section{
  position: absolute;
  opacity: 0;
  transition: all .8s;
  left: -10000px;
  }

  .explore__section.active{
    opacity: 1;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: 100;
    position: relative;
  }
  
  /*------- explore movies genres -------- */
  




.genre{
  cursor: pointer;
  border-radius: 20px;
  max-height: 500px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  position: relative;
  background-position: center;
  background-size: cover;
  transition: all .5s;

}
.genre::before{
  content: "";
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
}
.genre:hover{
  transform: scale(1.1);
}
.genre h2{
  opacity: 1;
  position: relative;
  font-size: 2.4em;
}


.genres__container,.genres__resultContainer{
  position: absolute;
  width: 100%;
  opacity: 0;
  left: -500px;
  transition: opacity 1s, left .5s;

}
.genres__container.active,.genres__resultContainer.active{
  opacity: 1;
  position: relative;
  z-index: 100;
  left: 0;

}

.genres__carouselContainer{
  display: flex;
  position: relative;
  align-items: center;
  height: 700px;
  margin: 0 auto;
  
}

.genres__carousel {
  overflow: hidden;
  height: 100%;
  
}
.genres__resultContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.genres__resultContainerTitle,.search__resultContainerTitle{
  font-size: 2.2em;
  margin: 30px 0;
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.genres__resultContainerTitle::before,.search__resultContainerTitle::before{
  content: url("../assets/angle-left-solid.svg");
  width: 15px;
  height: 15px;
  display: block;
}

.genres__resultMoviesContainer,.search__resultMoviesContainer{
  display: flex;
  position: relative;
  left: -5000px;
  opacity: 0;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  transition: opacity 1s, left .5s;

}
.genres__resultMoviesContainer.active,.search__resultMoviesContainer.active{
  left: 0;
  opacity: 1;
}
.genres__resultControls,.search__resultControls{
  align-self: center;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.genres__resultControls div,.search__resultControls div{
  
  border-radius: 30px;
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  background-color: rgba(0,0,0,.8);
  
  font-weight: 700;
}
#counter{
  background-color: var(--purple-main);

  border-radius: 50%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.rightRowContainerPage,.leftRowContainerPage{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 100;
  border-radius: 50%;
  border: none;
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
}

div.glider-track{
  height: 100%;
  align-items: flex-start;
  padding: 25px 0 
}
button.glider-dot{
  width: 20px;
  height: 8px;
  border-radius: 3px;
}
button.glider-dot.active{
  background: var(--violet);
}

.movieDescription{
  border-radius: 30px;
  width: 90%;

  max-width: 700px;
  max-height: 900px;
  background-color: var(--gray);
  position: absolute;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  top: -10000px;
  bottom: 0;
  opacity: 0;
  margin: auto;
  overflow: hidden;
  color: var(--white);
  transition: all .5s;
}
.movieDescription__back{
  align-self: start;
  
  position: absolute;
  cursor: pointer;
  background-color: #333333;
  border-radius: 50%;
  margin: 20px;
  background-image: url(../assets/angle-left-solid.svg);
  width: 40px;
  height: 40px;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center;
}
.movieDescription__imgContainer{
  width: 100%;
  height: 100%;
}
.movieDescription__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
  
}
.movieDescription__details{
  padding: 15px;
  display: flex;
  border-radius: 20px;
  width: 95%;
  flex-direction: column;
  position: absolute;
  align-items: center;
  text-align: center;
  top: 20%;
  gap: 10px;
}

.movieDescription__title{
  font-size: 1.5em;
  margin-top: 20px;
}
.movieDescription__div{
  display: flex;
  margin: 10px 0 ;
  font-size: 1.1em;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.movieDescription__rate{
  display: flex;
  gap: 5px;
  font-size: 1.2em;
  align-items: center;
}
.movieDescription__rate img{
  width: 20px;
}
.movieDescription__overview{
  font-size: 1.1em;
}
.movieDescription__span{
  background-color: var(--purple-main);
  border-radius: 16px;
  padding: 10px;
  font-weight: 700;
}
.movieDescription__span--{
  background-color: var(--white);
  color: #000;
}
.movieDescription__playTrailer{
  margin: 30px 0 20px;
  width: 80%;
  cursor: pointer;
  font-size: 1.1em;
  max-width: 200px;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background-color: var(--purple-main);
}
.movieDescription__playTrailer img{
  width: 20px;
}
.inactive::before{
  content: "";
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  position: absolute;
  z-index: 200;
  align-self: center;

}
.movieDescription.active{
  opacity: 1;
  top: 0;
  position: fixed;
}

.footer{
  font-size: 1.2em;
  display: flex;
  color: var(--white);
  justify-content: center;
  gap: 10px;
  height: 80px;
  margin-top: 60px;
  align-items: center;
  flex-wrap: wrap;
}
.footer a {
  text-decoration: none;
  color: var(--violet);
}