@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&family=Lato:ital,wght@0,400;0,700;1,700&display=swap");

:root {
  --dosis: "Dosis", sans-serif;
  --lato: "Lato", sans-serif;
  --white: #f1eef5;
  --purple-main: #af459e;
  --violet: #F34096
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(19,8,18,1) 50%, rgba(75,25,67,1) 90%);  */
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(51,30,49,1) 68%, rgba(175,69,158,1) 100%);  */
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(51,30,49,1) 68%, rgba(153,62,162,1) 100%);  */
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(51,30,49,1) 65%, rgba(153,62,162,1) 100%); 
}
body {
    margin: 0 auto;
    font-family: var(--lato);
    min-height: 100vh;
    width: 100%;
    max-width: 1500px;
}
.header {
  font-size: 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  margin: 0 10px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header__logo {
  max-width: 250px;
  height: auto;
}
.nav{
    width: 100%;
    display: flex;
    max-width: 350px;
    justify-content: center;
}
.nav__ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav__li a {
  font-weight: 600;
  color: var(--white);
  font-size: 1.8em;
  text-decoration: none;
}
.hero {
  height: 400px;
}
.main{
    padding: 30px;
    color: var(--white);
    font-size: 10px;

}
.main__trendingTitle{
    font-size: 2.5em;
    padding: 10px 0;
    border-bottom: 1px solid var(--white);
    position: relative;
}
.main__trendingTitle::after{
    content: url("../assets/film-solid.svg");
    position: absolute;
    top: 14px;
    width: 25px;
    margin-left: 10px;
}



.main__exploreOptionsTitle{
    font-size: 2.5em;
    margin: 50px 0 40px;
}
.main__exploreOptions{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    list-style: none;
    justify-content: center;
}
.main__exploreOptions div{
    display: flex;
    gap: 25px;
}
.main__exploreOptionsLi{
    margin: 0 10px;
    font-size: 1.8em;
    display: flex;
}

.main__exploreOptionsLi--input input{
    border: none;
    margin-right: 5px;
    border-radius: 20px;
    padding: 8px 20px;
    background-color: var(--white);
    outline: none;
    font-size: 16px;
    font-weight: 600;

    font-family: var(--lato);
}

.searchIcon {
  width: 25px;
  cursor: pointer;
  margin-left: 5px;

}
.main__exploreSection{
    height: 200px;
}

