.header {
  flex-direction: row;
  padding: 20px 40px;
  font-size: 14px;
  justify-content: space-between;
}
.header__logo {
  width: 250px;
}
.main {
  font-size: 12px;
}
.main__exploreOptionsLi--input input {
  width: 300px;
  padding: 8px 18px;
}
.hero__article{
  top: 300px;
}