.header {
  flex-direction: row;
  padding: 20px 40px;
  font-size: 14px;
  justify-content: space-between;
}
.header__logo {
  width: 250px;
}

.hero__article{
  top: 300px;
}
.main {
  font-size: 12px;
}

.explore__optionSearch{
  justify-content: flex-end;
}